/* adjust all subjects */
.Subjects {
    margin: auto;
    text-align:center;
    border:2px solid;
    padding:1% 1% 1% 1%;
    /*float:left; */
    display: inline-block;
    border-radius: 5px;
    font-family: Tahoma;
    /*position: absolute; */
    
}