/* adjust all subjects */
.Subjects {
    /*
    margin:25px auto 25px auto;
    width:20%;
    text-align:center;
    border-size: 2px;
    border-style: inset;
    padding:1% 1% 1% 1%;
    /*float:left; */
    display: inline-block;
    margin: auto;
    /*border-radius: 5px;
    font-family: Tahoma;
    /*position: absolute; */

}

.Subjects a {
    margin:25px auto 25px auto;
    width:300px;
    text-align:center;
    border-size: 2px;
    border-style: inset;
    padding:3px 10px 3px 10px;
    /*float:left; */
    /*display: inline-block;*/
    border-radius: 5px;
    font-family: Tahoma;


}

a {
    text-decoration: none;
    color: black;
}

#NavBar {
    margin:auto;
    margin-top:20px;
    width:70%;
    height: 20%;
    /*border: 1px solid black; */
    text-align: center;
    border: 1px solid black;

}


#mainNavBar {
    list-style-type: none;
    margin: auto;
    margin-left: -3%;
} 

/* operating system internals */
#COMP3520 a {
    background-color:#F5A6A6;

    border-color: red;

}

/* Introduction to Ai */
#COMP3308 a {
    /*position: absolute; */
    background-color:#A6F5F5;

    border-color: blue;
}

/* Object Oriented Design */
#INFO3220 a {
    background-color:#63FF63;

    border-color: green;
}

#INFO3402 a {
    background-color:#E6BCE6;
    border-color: purple;
}



/* News */
#latestNews {
    margin:auto;
    margin-top:1%;
    width:50%;
    height:50%;
    border:3px solid black;
    border-radius: 5px;
    background-color: #cccccc;
    padding: 5px 5px 5px 5px;
}


/*
#block {
margin: auto;
padding: 5px;
width: 50%;
height: 90%;
border: 3px solid black;
border-radius: 10px;
background-color: #cccccc;
/*position: relative; 
}
 */

/* page header */
#Header {
    font-size: 50;
    text-align:center;
}



