body {
    margin:0px;
    /*background: -webkit-repeating-linear-gradient(#E3E5FF, #D9DCFF, #E3E5FF); */
    background-color: white /* #EDEEFA; */
}

/* sort out the main navigation bar */
#NavBar {

    /* margins */
    margin:10px 0 10px 0;

    /* gradient background */
    background-color: #096BB7 /* #36D7ED; /* #01118A; /* -webkit-linear-gradient(#01118A, #071FDB);*/


}

/* used to style the unordered list */
#mainNavBar {
    list-style-type:none;
    padding: 0.8em 10px 0px 10px;
    height:2em;
}



/* style the subject links */
.Subjects a {
    font-family: Verdana;
    color: white;
    text-decoration:none;

    margin:0px 5px 0px 5px;
    
   
    /*background: -webkit-linear-gradient(#01118A, #071FDB);*/

}

/* adjust colours when user hovers over nav bar */
.Subjects a:hover {
    
    color:#79E4FC;
}

/* style the subjects */
.Subjects {
    display:inline-block;
    height:2em;
    /*padding: 1em 0em 1em 0em;
    /*
    margin-top:5px;
    margin-bottom:5px;*/
}

.Subjects:hover {
    /* try something here */
    /*border: 5px inset red; /*#071FDB;*/
    /*background-color:#01076A;*/

}
