.SubjectSummary {
    width: 300px;
    height: 200px;
    padding: 1em;
    position: relative;
    font-family: Voces;
    color: white;
    float: left;
    display:inline-block;
}

#COMP3308Summary {
    background-color: #002082; /*#A3F3FF;*/
    margin: auto;
    
}


#COMP3308Summary:hover {
    /*text-align:center;*/
}



#INFO3220Summary {
    background-color: #54006B;
    margin: auto;
}

#COMP3520Summary {
    background-color: #005E5E;
    margin: auto;
}

#INFO3402Summary {
    background-color: #6B0000;
    margin: auto;
}

