/* comp3308 sytleshteet */

#Col1 {
    margin: auto 25% auto 25%;
}

#Col2 {
    margin: auto 25% auto 25%;
    border: 3px solid black;
    float: right;
}

/* adjust all weeks */
.Week {
    border: solid 3px blue;
    border-radius: 10px;
    width:90px;
    text-align: center;
    margin:auto;
    margin-top:10px;


}

#header {
    text-align: center;
    font-size: 80;
    color: #0000FF;
}


#firstHalf {
    float:left;
    margin:auto;
    margin-left:37%;
    /*display:inline-block; */
    width: 200px;
    border:1px solid black;
}

#firstHalf ul {
    list-style-type: none;
}

#secondHalf {
    padding:0px 0px 0px 0px;
    float:right;
    margin: auto;
    margin-right: 40%;
    /*display:inline-block;*/
    position: relative;
    width:200px;
    /*border:1px solid black; */
}

#secondHalf ul {
    list-style-type: none;
}

#Weeks {
    margin:auto;
    width:200px;
    border:1px solid black;
    text-align: center;
}

/* News */
#latestNews {
    clear:both;
    margin:auto;
    margin-top:1%;
    width:50%;
    height:50%;
    border:3px solid black;
    background-color: #cccccc;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}
